# Exclude virtual environments
.venv
env/

# Exclude version control directories
.git

# Exclude Python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Exclude test and coverage files
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache
.mypy_cache

# Exclude environment and configuration files
.env
.aws
